<h1>Dashboard</h1>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Since 2002 
      <small>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Since 2002" data-content="Every infrastructure project approved since 2002"></i>
      </small>
    </h2>
	</div>
</div>	

<div class="row stat-row">
  <div class="col-sm-4">
    <div class="card stat-card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Number of Projects</h3>
        <p class="card-number"><%= number_with_delimiter(@total_projects, :delimiter => ',') %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Eligible Costs</h3>
        <p class="card-number">$<%= number_to_human(@total_eligible_costs) %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Federal Dollars Spent</h3>
        <p class="card-number">$<%= number_to_human(@total_federal_contributions) %></p>
      </div>
    </div>
  </div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Under Harper
      <small>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Under Harper" data-content="Projects approved between 2006-02-06 and 2015-10-15"></i>
      </small>
    </h2>
	</div>
</div>

<div class="row stat-row">
  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Number of Projects</h3>
        <p class="card-number"><%= number_with_delimiter(@harper_projects, :delimiter => ',') %></p>
       </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Eligible Costs</h3>
        <p class="card-number">$<%= number_to_human(@harper_eligible_costs) %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Federal Dollars Spent</h3>
        <p class="card-number">$<%= number_to_human(@harper_dollars) %></p>
      </div>
    </div>
  </div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Current Parliament
      <small>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Current Parliament" data-content="Projects approved since 2015-10-15"></i>
      </small>
    </h2>
	</div>
</div>

<div class="row stat-row">
  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Number of Projects</h3>
        <p class="card-number"><%= number_with_delimiter(@projects_since_election, :delimiter => ',') %></p>
        <p class="card-text">
        	<strong>
        		<%= (@total_projects_year_over_year > 0)? '+':'' %><%= number_with_precision @total_projects_year_over_year, :precision => 2 %>%
        	</strong>
        	Jan to Dec <%= Date.today.prev_year.year %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Eligible Costs</h3>
        <p class="card-number">$<%= number_to_human(@eligible_since_election) %></p>
        <p class="card-text">
        	<strong>
        		<%= (@total_eligible_year_over_year > 0)? '+':'' %><%= number_with_precision @total_eligible_year_over_year, :precision => 2 %>%
        	</strong>
        	Jan to Dec <%= Date.today.prev_year.year %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Federal Dollars Spent</h3>
        <p class="card-number">$<%= number_to_human(@dollars_since_election) %></p>
        <p class="card-text">
        	<strong>
        		<%= (@total_project_dollars_year_over_year > 0)? '+':'' %><%= number_with_precision @total_project_dollars_year_over_year, :precision => 2 %>%
        	</strong>
        	Jan to Dec <%= Date.today.prev_year.year %></p>
      </div>
    </div>
  </div>
</div>

<div class="row stat-row">
	<div class="col-sm-4">
	    <div class="card stat-card">
	      <div class="card-body">
	        <h3 class="card-title">Cons. vs. Libs. Dollars</h3>
	        <p class="card-number">$<%= number_to_human(@harper_dollar_comparison) %></p>
	      </div>
	    </div>
	</div>

	<div class="col-sm-4">
	    <div class="card stat-card">
	      <div class="card-body">
	        <h3 class="card-title">Average Project Cost</h3>
	        <p class="card-number">$<%= number_to_human(@average_project_cost) %></p>
	      </div>
	    </div>
	</div>

	<div class="col-sm-4">
	    <div class="card stat-card">
	      <div class="card-body">
	        <h3 class="card-title">Median Project Cost</h3>
	        <p class="card-number">$<%= number_to_human(@median_project_cost) %></p>
	      </div>
	    </div>
	</div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Project Approval Frequency in the Last Year</h2>
	</div>
</div>	

<div class="row stat-row">
	<div class="col-md-12">
		<%= line_chart project_frequency_charts_path %>
	</div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Projects By Region Since the Election</h2>
	</div>
</div>	

<div class="row stat-row">
	<div class="col-md-12">
		<%= column_chart projects_by_region_charts_path, xtitle: "Regions", ytitle: "Projects", adapter: "google" %>
	</div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Median Project Cost By Region Since the Election</h2>
	</div>
</div>	

<div class="row stat-row">
	<div class="col-md-12">
		<%= column_chart median_project_cost_charts_path, xtitle: "Regions", ytitle: "Dollars", adapter: "google", library: {pointSize: 0, vAxis:  {format: "long"}} %>
	</div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Total Dollars Spent By Region Since the Election</h2>
	</div>
</div>	

<div class="row stat-row">
	<div class="col-md-12">
		<%= column_chart total_spent_by_region_charts_path, xtitle: "Regions", ytitle: "Dollars", adapter: "google", library: {pointSize: 0, vAxis:  {format: "long"}} %>
	</div>
</div>

<div class="row stat-row">
	<div class="col-md-6">
		<h2>Dollars Spent by Governments</h2>
		<%= pie_chart({"Trudeau" => @dollars_since_election, "Harper" => @harper_dollars}, colors: ["#d71920", "#1A4782"]) %>
	</div>

	<div class="col-md-6">
		<h2># of Projects by Governments</h2>
		<%= pie_chart({"Trudeau" => @projects_since_election, "Harper" => @harper_projects}, colors: ["#d71920", "#1A4782"]) %>
	</div>
</div>
