<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <%= search_form_for @q , :html => { :class => "" } do |f| %>
      <div class="input-group">
        <%= f.search_field :title_en_or_location_name_en_cont, class: 'form-control form-control-lg', placeholder: "Search project names or locations" %>
        <span class="input-group-btn">
          <%= f.submit "Search", :class => 'btn btn-primary' %>
        </span>
      </div>
      <div class="form-group">
        
        
      </div>
    <% end %>
  </div>
</div>

<h1>Projects</h1>

<table class="table table-hover table-bordered">
  <thead class="thead-default">
    <tr class="row m-0">
      <th class="d-inline-block col-md-7"><%= sort_link(@q, :title_en, 'Title', default_order: :asc) %></th>
      <th class="d-inline-block col-md-3"><%= sort_link(@q, :location_name_en, 'Location', default_order: :asc) %></th>
      <th class="d-inline-block col-md-2">Region</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="row m-0">
        <td class="d-inline-block col-md-7"><%= link_to project.title_en, project %></td>
        <td class="d-inline-block col-md-3"><%= link_to project.location.name_en, project.location %></td>
        <td class="d-inline-block col-md-2"><%= project.location.region.region_display %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @projects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>