<p id="notice"><%= notice %></p>

<h1>Category: <%= @category.title_en %></h1>

<div class="row stat-row">
  <div class="col-sm-4">
    <div class="card stat-card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Number of Projects</h3>
        <p class="card-number"><%= @category.projects_count %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Eligible Costs</h3>
        <p class="card-number">$<%= number_to_human(@total_eligible_costs) %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-body">
        <h3 class="card-title">Total Federal Dollars Spent</h3>
        <p class="card-number">$<%= number_to_human(@total_federal_contributions) %></p>
      </div>
    </div>
  </div>
</div>

<h2>Projects</h2>

<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th style="width=60%;">Project</th>
            <th style="width=20%;">Federal Contribution</th>
            <th style="width=20%;">Approved Date</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to project.title_en, project %></td>
              <td><%= number_to_currency(project.federal_contribution) %></td>
              <td><%= project.approved_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= will_paginate @projects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>