<p id="notice"><%= notice %></p>

<h1><%= @location.name_en %></h1>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Since 2002 
      <small>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Since 2002" data-content="Every infrastructure project approved since 2002"></i>
      </small>
    </h2>
	</div>
</div>	

<div class="row stat-row">
  <div class="col-sm-4">
    <div class="card stat-card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Number of Projects</h3>
        <p class="card-number"><%= @total_projects %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Eligible Costs</h3>
        <p class="card-number">$<%= number_to_human(@total_eligible_costs) %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Federal Dollars Spent</h3>
        <p class="card-number">$<%= number_to_human(@total_federal_contributions) %></p>
      </div>
    </div>
  </div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Under Harper
      <small>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Under Harper" data-content="Projects approved between 2006-02-06 and 2015-10-15"></i>
      </small>
    </h2>
	</div>
</div>

<div class="row stat-row">
  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Number of Projects</h3>
        <p class="card-number"><%= @harper_projects %></p>
       </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Eligible Costs</h3>
        <p class="card-number">$<%= number_to_human(@harper_eligible_costs) %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Federal Dollars Spent</h3>
        <p class="card-number">$<%= number_to_human(@harper_dollars) %></p>
      </div>
    </div>
  </div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Current Parliament
      <small>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover" title="Current Parliament" data-content="Projects approved since 2015-10-15"></i>
      </small>
    </h2>
	</div>
</div>

<div class="row stat-row">
  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Number of Projects</h3>
        <p class="card-number"><%= @projects_since_election %></p>
        <p class="card-text">
        	<strong>
            <% if @total_projects_year_over_year %>
              <span class="text-muted">--</span>%
            <% else %>
              <%= (@total_projects_year_over_year > 0)? '+':'' %><%= number_with_precision @total_projects_year_over_year, :precision => 2 %>%
            <% end %>
        	</strong>
        	Jan to Dec <%= Date.today.prev_year.year %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Eligible Costs</h3>
        <p class="card-number">$<%= number_to_human(@eligible_since_election) %></p>
        <p class="card-text">
        	<strong>
            <% if @total_eligible_year_over_year %>
              <span class="text-muted">--</span>%
            <% else %>
              <%= (@total_eligible_year_over_year > 0)? '+':'' %><%= number_with_precision @total_eligible_year_over_year, :precision => 2 %>%
            <% end %>
        	</strong>
        	Jan to Dec <%= Date.today.prev_year.year %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card stat-card">
      <div class="card-block">
        <h3 class="card-title">Total Federal Dollars Spent</h3>
        <p class="card-number">$<%= number_to_human(@dollars_since_election) %></p>
        <p class="card-text">
        	<strong>
            <% if @total_project_dollars_year_over_year %>
              <span class="text-muted">--</span>%
            <% else %>
              <%= (@total_project_dollars_year_over_year > 0)? '+':'' %><%= number_with_precision @total_project_dollars_year_over_year, :precision => 2 %>%
            <% end %>
        	</strong>
        	Jan to Dec <%= Date.today.prev_year.year %></p>
      </div>
    </div>
  </div>
</div>

<div class="row stat-row">
	<div class="col-sm-4">
	    <div class="card stat-card">
	      <div class="card-block">
	        <h3 class="card-title">Cons. vs. Libs. Dollars</h3>
	        <p class="card-number">$<%= number_to_human(@harper_dollar_comparison) %></p>
	      </div>
	    </div>
	</div>

	<div class="col-sm-4">
	    <div class="card stat-card">
	      <div class="card-block">
	        <h3 class="card-title">Average Project Cost</h3>
	        <p class="card-number">
            <% if @average_project_cost == 0 %>
              <span class="text-muted">--</span>
            <% else %>
              $<%= number_to_human(@average_project_cost) %>
            <% end %>
          </p>
          
	      </div>
	    </div>
	</div>

	<div class="col-sm-4">
	    <div class="card stat-card">
	      <div class="card-block">
	        <h3 class="card-title">Median Project Cost</h3>
	        <p class="card-number">
            <% if @median_project_cost.nil? %>
              <span class="text-muted">--</span>
            <% else %>
              $<%= number_to_human(@median_project_cost) %>
            <% end %>
          
            
          </p>
	      </div>
	    </div>
	</div>
</div>

<div class="row row-header">
	<div class="col-sm-12">
		<h2>Projects </h2>
	</div>
</div>	

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-default">
      <tr>
        <th style="width:60%;" >Project</th>
        <th style="width:23%;" >Federal Contribution</th>
        <th style="width:17%;" >Approved Date</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.title_en, project %></td>
          <td><%= number_to_currency(project.federal_contribution) %></td>
          <td><%= project.approved_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-12">
  <h3>You might also be interested in these locations:</h3>
  <ul>
    <% @suggested_locations.each do |location| %>
      
       <li><%= link_to location.name_en, location %></li>
    <% end %>
  </ul>
  </div>
</div>

